<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%date{HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Set this level end debut end see which values have been used for the test, generates loads of logging output -->
    <logger name="junit-quickcheck.value-reporting" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="console" />
    </root>

</configuration>